<p>about works!</p>

<div class="site-section" id="about-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mb-5">
          <img src="assets/images/hero_3.jpg" alt="Image" class="img-fluid" class="img-fluid">
        </div>
        <div class="col-lg-5 ml-auto section-title">
          <span class="sub-title mb-2 d-block">About Us</span>
          <h2 class="title text-primary mb-3">I am Expert In Web</h2>
          <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

          <div class="d-flex">
            <ul class="list-unstyled ul-check success mr-4">
              <li>Design</li>
              <li>Development</li>
              <li>eCommerce</li>
              <li>Mobile Apps</li>
              <li>Copywriting</li>
              <li>SEO</li>
            </ul>
          </div>
           </div>
      </div>
    </div>
  </div> 
  
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-8 section-title">
          <b><i>
          <h2 class="title text-primary">I am Expert In Web, Web Development and Mobile Development</h2>
        </i></b>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 mb-12 person">
          <img src="assets/images/d3.jpg" alt="Image" class="img-fluid mb-5">
  
          <div class="row">
            <div class="col-lg-10 ml-auto">
              <div class="pr-lg-5">
                <h3>Dharmendra maurya</h3>
                <span class="mb-4 d-block"><h3>CEO, Co-Founder</h3></span>
                <p><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae suscipit soluta odio itaque,
                  consequuntur excepturi architecto, omnis iure repellat, ipsum consectetur praesentium accusantium
                  quibusdam temporibus quasi. Ipsa quisquam rem illo.</b></p>
                <p><b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus suscipit dolores illum, deleniti
                  quod officiis labore ipsam? Nulla, ab perspiciatis!. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae suscipit soluta odio itaque,
                  consequuntur excepturi architecto, omnis iure repellat, ipsum consectetur praesentium accusantium
                  quibusdam temporibus quasi. Ipsa quisquam rem illo.</b></p>
                <p class="d-flex align-items-center">
                  <a href="#" class="twitter pr-2 pt-2 pb-2 pl-0"><span class="icon-twitter"></span></a>
                  <a href="#" class="facebook p-2"><span class="icon-facebook"></span></a>
                  <a href="#" class="dribbble p-2"><span class="icon-dribbble"></span></a>
                  <a href="#" class="instagram p-2"><span class="icon-instagram"></span></a>
                  <a href="#" class="linkedin p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 person">
          <img src="assets/images/d2.jpg" alt="Image" class="img-fluid mb-5">
          <div class="row">
            <div class="col-lg-10 ml-auto">
              <div class="pr-lg-5">
                <h3>Dharmendra maurya</h3>
                <span class="mb-4 d-block"><h3>CTO, Co-Founder</h3></span>
                <p><b>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae suscipit soluta odio itaque,
                  consequuntur excepturi architecto, omnis iure repellat, ipsum consectetur praesentium accusantium
                  quibusdam temporibus quasi. Ipsa quisquam rem illo.</b></p>
                <p><b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus suscipit dolores illum, deleniti
                  quod officiis labore ipsam? Nulla, ab perspiciatis!</b></p>
                <p class="d-flex align-items-center">
                  <a href="#" class="twitter pr-2 pt-2 pb-2 pl-0"><span class="icon-twitter"></span></a>
                  <a href="#" class="github p-2"><span class="icon-github"></span></a>
                  <a href="#" class="dribbble p-2"><span class="icon-dribbble"></span></a>
                  <a href="#" class="instagram p-2"><span class="icon-instagram"></span></a>
                  <a href="#" class="linkedin p-2"><span class="icon-linkedin"></span></a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  </div>