

<div class="site-section bg-light" id="what-we-do-section">
    <div class="container">
      <div class="row mb-6">
        <div class="col-lg-11 section-title">
          <span class="sub-title mb-6 d-block">What We Do</span>
          <h2 class="title text-primary">Our Development Area in the Web Application & Mobile Application</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 ml-auto">
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-photo_album display-4 text-primary d-block mb-4"></span>
                <h3>Web Design</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                <a href="#" class="readmore">Learn more</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-laptop_mac display-4 text-primary d-block mb-4"></span>
                <h3>Web Development</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                <a href="#" class="readmore">Learn more</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-layers display-4 text-primary d-block mb-4"></span>
                <h3>Web Apps</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                <a href="#" class="readmore">Learn more</a>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-mobile display-4 text-primary d-block mb-4"></span>
                <h3>Mobile Apps</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                 <a href="#" class="readmore">Learn more</a>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-pencil display-4 text-primary d-block mb-4"></span>
                <h3>CopyWriting</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                <p><a href="#" class="readmore">Learn more</a></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-4 mb-lg-4">
              <div class="service h-100">
                <span class="icon-search2 display-4 text-primary d-block mb-4"></span>
                <h3>Search Engine Optimization</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam nostrum ducimus temporibus, quod ipsa fuga fugiat deserunt.</p>
                <p><a href="#" class="readmore">Learn more</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
