
    <div class="container">
      <div class="row mb-5 ">
        <div class="col-md-12 section-title text-center mx-auto">
          <span class="sub-title mb-2 d-block">Recent Works</span>
          <h2 class="title text-primary mb-12">Our Team are work on: the Making A Android application and IOS application which are the based on the AR & VR ,</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="assets/images/project_1.jpg" alt="Image" class="img-fluid" class="img-fluid">
          <img src="assets/images/project_2.jpg" alt="Image" class="img-fluid" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top ml-auto">
          <h3>Project title one</h3>
          <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p class="mb-5"><strong class="text-black">Role:</strong> Design, Illustration, Web</p>
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam excepturi quod dolore commodi.</p>
            <p class="mb-0 d-flex align-items-center">
              <img class="img-fluid mr-5" src="assets/images/d1.jpg" alt="Image">
              <cite>&mdash; Dharmendra maurya</cite>
            </p>
          </blockquote>
          <p class="mb-4"><a href="#" class="readmore">Visit website</a></p>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
          <img src="assets/images/project_2.jpg" alt="Image" class="img-fluid" class="img-fluid">
          <img src="assets/images/project_1.jpg" alt="Image" class="img-fluid" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top mr-auto order-2 order-lg-1">
          <h3>Project title two</h3>
          <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p class="mb-5"><strong class="text-black">Role:</strong> Design, Illustration, Web</p>
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam excepturi quod
              dolore commodi.</p>
            <p class="mb-0 d-flex align-items-center"></p>
              <img class="img-fluid mr-3" src="assets/images/d2.jpg" alt="Image">
              <h3><i>Dharmendra maurya</i></h3>
            
          </blockquote>
          <p class="mb-4"><a href="#" class="readmore">Visit website</a></p>
          
          
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <img src="assets/images/project_1.jpg" alt="Image" class="img-fluid" class="img-fluid">
          <img src="assets/images/project_2.jpg" alt="Image" class="img-fluid" class="img-fluid">
        </div>
        <div class="col-lg-5 h-100 jm-sticky-top ml-auto">
          <h3>Project title three</h3>
          <p class="mb-4">A small river named Duden flows by their place and supplies it with the 
            necessary regelialia. It is
            a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p class="mb-5"><strong class="text-black">Role:</strong> Design, Illustration, Web</p>
          <blockquote class="blockquote">
            <p>Nice Looking Website Of Ours. Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Laboriosam excepturi
              quod dolore commodi.</p>
            <p class="mb-0 d-flex align-items-center"></p>
            <img class="img-fluid mr-3" src="assets/images/d3.jpg" alt="Image">
          
              <h3><i>Dharmendra maurya</i></h3>
          </blockquote>
          <p class="mb-4"><a href="#" class="readmore">Visit website</a></p>
        </div>
      </div>

        
      </div>

