 <header>
      <div class="overlay"></div>
      <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
      </video>
      <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
          <div class="w-100 text-white">
            <h3>Portfolieo!</h3>
                <p>
                    these are the given only the personal details ...
                </p>
    
                
              
                  
                  <div class="text">
                      <p class="sub-text mb-5"> <b>We are web studio in Delhi. it is the information techonology company it is the us based company.</b></p>
                      <a href="https://www.facebook.com/sager2041997/" target="_blank" class="btn btn-primary btn-md">Go to my fb page</a>
                   </div>    
          </div>
        </div>
      </div>
    </header>











